<section class="container">
{{#if loggedIn}}
{{else}}
<a>You must login to view dashboard</a>
{{/if}}
{{#each entries as |entry| }}
<div class="blog-border">
<a href="/dashboard/{{id}}">
<div class="page-title">
        <div>{{title}}</div>
        <div id="byline"> created at: {{ format_time createdAt}} {{ format_date createdAt }}</div>
      </div>
<div class="blog-content">
<p>{{content}}</p>
</div>
</a>
</div>
{{/each}}

<div class="btn-row">
<div id="new-post">
    <a href="/create"> + New Post</a>
</div>
</div>
</section>