<section class="container">
{{#if loggedIn}}
<h1>THIS IS DASHBOARD.HBS.  you are logged in</h1>
{{else}}
<a>You must login to view dashboard</a>
{{/if}}
{{#each entries as |entry| }}
<a href="/dashboard/{{id}}">
<div class="page-title">{{title}}</div>
<p>{{content}}</p>
<p>{{createdAt}}</p>
</a>
{{/each}}

<div id="new-post">
    <a href="/create"> + New Post</a>
</div>
</section>