<section class="container">
  
  {{#each entries as |entry|}}
  <div class="blog-border">
    <a href="/entry/{{id}}">
      <div class="page-title">
        <div>{{title}}</div>
        <div id="byline">by: {{user.user_name}} {{ format_date createdAt }} {{ format_time createdAt}}</div>
      </div>
      <p id="blog-content">{{content}}</p>
    </a>
      </div>
  {{/each}}

</section>