<section class="container">
<div class="page-title">
        <div>{{entry.title}}</div>
        <div id="byline"> created at: {{format_time entry.createdAt}} {{format_date entry.createdAt}}</div>
      </div>
      <div class="form-border">
      <p class="blog-content">{{entry.content}}</p>
      </div>
    </a>
    <div class="btn-row">
<button id="edit-btn"><a href="/dashboard/edit/{{entry.id}}">Edit</a></button>
    </div>
</section>